.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: calc(100% - 20px);
	margin: auto auto 10px;
	padding: 1.75rem 1.25rem 2.5rem;
	text-align: center;
	color: var(--gold-light);
	background: var(--dark-translucent-background);
	border: var(--border-dark);
	border-radius: var(--border-radius-large);
	backdrop-filter: var(--backdrop-blur);
}

.copyright {
	margin: 0;
	color: inherit;
}

.copyright a {
	color: var(--gold);
}

.footer-icons {
	justify-content: center;
}

@media (hover: hover) {
	.copyright a:hover {
		color: var(--gold-light);
	}
}

@media (min-width: 40em) {
	.footer {
		width: calc(100% - (var(--padding-body-edge) * 2));
	}
}

@media (min-width: 64em) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
		width: calc(100% - (var(--padding-body-edge) * 2));
		padding: 1.5rem 2rem;
		text-align: left;
	}

	.copyright {
		order: -1;
	}

	.footer-icons {
		justify-content: end;
	}
}
