.header {
	position: fixed;
	inset: 10px auto auto 10px;
	z-index: 100;
	padding: 0.5rem;
	background: var(--header-footer-background);
	border-radius: var(--border-radius-large);
	border: var(--border-dark);
	backdrop-filter: var(--backdrop-blur-large);

	.logo {
		display: block;
		text-decoration: none;
	}

	.logo-img {
		width: 3rem;
	}

	@media (min-width: 40em) {
		right: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		padding: 1rem;

		.logo-img {
			width: 3.75rem;
		}
	}

	@media (min-width: 64em) {
		.logo-img {
			width: 4.5rem;
		}
	}
}
