/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.nav-parent {
	position: relative;
	z-index: 2;
}

.nav-item,
.dropdown-toggle {
	color: inherit;
}

.dropdown-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	width: 200px;
	max-width: calc(100vw - 3.25rem);
	padding: 1.25rem;
	border-radius: var(--border-radius);
	opacity: 0;
	visibility: hidden;
	transition: translate var(--transition), opacity var(--transition),
		visibility var(--transition);

	&::before {
		position: absolute;
		display: block;
		font: var(--fa-font-solid);
		font-size: 1.5rem;
		pointer-events: none;
	}

	.nav-parent:not(.expanded) &,
	.nav-parent:not(.expanded) & * {
		pointer-events: none;
	}

	.nav-parent.expanded & {
		opacity: 1;
		visibility: visible;
	}
}

.dropdown-nav-item {
	display: inline-flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.5rem;
	min-width: 0;
	padding: 0;
	font-family: var(--font-body);
	font-weight: var(--font-weight-black);
	font-size: var(--font-size-base);
	line-height: var(--leading-small);
	letter-spacing: var(--kerning-x-small);
	text-decoration: none;
	text-transform: none;
	text-align: left;
	border-radius: 0;
	transition: color var(--transition);

	&::before {
		width: 1.25rem;
		flex-shrink: 0;
		color: var(--red);
	}

	&.instagram::before,
	&.bluesky::before,
	&.linkedin::before,
	&.youtube::before {
		font: var(--fa-font-brands);
	}

	&.email::before,
	&.gumroad::before {
		font: var(--fa-font-solid);
	}

	&.instagram::before {
		content: "\f16d";
	}

	&.bluesky::before {
		content: "\e671";
	}

	&.linkedin::before {
		content: "\f0e1";
	}

	&.youtube::before {
		content: "\f167";
	}

	&.email::before {
		content: "\40";
	}

	&.gumroad::before {
		content: "\f07a";
	}
}

/*================================*/
/*=====----- MOBILE NAV -----=====*/
/*================================*/

.mobile-navigation {
	position: fixed;
	inset: auto 30px 26px;
	z-index: 100;
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding: 0.25rem 0.75rem;
	color: var(--cream);
	transition: translate var(--transition);

	&::before,
	&::after {
		position: absolute;
		display: block;
		content: "";
		border-radius: var(--border-radius-medium);
		pointer-events: none;
	}

	&::before {
		inset: 0;
		z-index: -1;
		background: var(--red);
	}

	&::after {
		inset: 24px -20px -16px;
		z-index: -2;
		background: var(--header-footer-background);
		border: var(--border-dark);
		backdrop-filter: var(--backdrop-blur-large);
	}

	&.hidden:not(:has(.nav-parent.expanded)) {
		translate: 0 calc(100% + 36px);
	}

	.nav-item:not(.dropdown-nav-item),
	.dropdown-toggle {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		min-width: 5.25rem;
		padding: 0.5rem;
		font-family: var(--font-body);
		font-weight: var(--font-weight-black);
		font-size: var(--font-size-2x-small);
		line-height: var(--leading-none);
		letter-spacing: var(--kerning-large);
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		background-color: transparent;
		border: none;
		border-radius: var(--border-radius);
		transition: translate var(--transition), color var(--transition),
			background-color var(--transition), box-shadow var(--transition);

		&.projects::before,
		&.cv::before {
			font: var(--fa-font-regular);
			font-size: var(--font-size-2x-large);
		}

		&.projects::before {
			content: "\f302";
		}

		&.cv::before {
			content: "\f2bb";
		}

		&.social::before {
			font: var(--fa-font-solid);
			font-size: var(--font-size-2x-large);
			content: "\23";
		}
	}

	.nav-item.current,
	.dropdown-toggle.expanded {
		translate: 0 -0.75rem;
		color: var(--red);
		background-color: var(--cream);
		box-shadow: var(--hard-shadow);
	}

	.dropdown-menu {
		inset: auto auto calc(100% + 1.5rem) 50%;
		translate: -50% -1rem;
		background: var(--header-footer-background);
		border: var(--border-dark);
		box-shadow: var(--hard-shadow-red-long);
		backdrop-filter: var(--backdrop-blur);

		&::before {
			inset: calc(100% - 0.625rem) auto auto 50%;
			translate: -50% 0;
			color: var(--border-dark-color);
			content: "\f0d7";
		}
	}

	.nav-parent:first-child .dropdown-menu {
		left: 0;
		translate: 0 -1rem;

		&::before {
			left: 2.625rem;
		}
	}

	.nav-parent:last-child .dropdown-menu {
		right: 0;
		left: auto;
		translate: 0 -1rem;

		&::before {
			right: 2.625rem;
			left: auto;
			translate: 50% 0;
		}
	}

	.dropdown-nav-item::before {
		color: var(--red);
	}

	.nav-parent.expanded {
		.dropdown-menu {
			translate: -50% 0;
		}

		&:first-child .dropdown-menu,
		&:last-child .dropdown-menu {
			translate: 0 0;
		}
	}

	.nav-item:focus-visible,
	.dropdown-toggle:focus-visible {
		outline-color: var(--blue);
	}

	@media (hover: hover) {
		.nav-item:hover,
		.dropdown-toggle:hover {
			color: var(--red);
			background-color: var(--cream);
		}

		.dropdown-nav-item:hover {
			background: none;
		}
	}

	@media (min-width: 40em) {
		display: none;
	}
}

/*=================================*/
/*=====----- DESKTOP NAV -----=====*/
/*=================================*/

.navigation {
	display: none;
	align-items: baseline;
	justify-content: end;
	gap: 1.5rem;
	color: var(--gold-light);

	.nav-item:not(.dropdown-nav-item),
	.dropdown-toggle {
		position: relative;
		padding: 0;
		margin: 0;
		font-family: var(--font-body);
		font-weight: var(--font-weight-black);
		font-size: var(--font-size-base);
		line-height: var(--leading-none);
		letter-spacing: var(--kerning-large);
		text-decoration: none;
		text-transform: uppercase;
		background: none;
		border: none;
		border-radius: 0;
		transition: color var(--transition);

		&::after {
			position: absolute;
			inset: calc(100% + 0.25rem) auto auto 50%;
			translate: -50% 0.5rem;
			display: block;
			width: 0.35rem;
			aspect-ratio: 1;
			content: "";
			background: var(--red);
			border-radius: 50%;
			pointer-events: none;
			opacity: 0;
			transition: translate var(--transition), opacity var(--transition);
		}
	}

	.nav-item.current::after {
		translate: -50% 0;
		opacity: 1;
	}

	.nav-parent {
		position: relative;
	}

	.dropdown-menu {
		inset: 100% 0 auto auto;
		translate: 0 2rem;
		color: var(--blue);
		background: var(--cream);
		box-shadow: var(--hard-shadow-red-long);

		&::before {
			inset: auto 2rem calc(100% - 0.75rem) auto;
			color: var(--cream);
			content: "\f0d8";
		}
	}

	.nav-parent.expanded .dropdown-menu {
		translate: 0 1rem;
	}

	.nav-item:focus-visible,
	.dropdown-toggle:focus-visible {
		outline-color: var(--gold);
	}

	@media (hover: hover) {
		.nav-item:not(.dropdown-nav-item):hover,
		.dropdown-toggle:not(.expanded):hover {
			color: var(--red-light);

			&::after {
				translate: -50% 0;
				opacity: 1;
			}
		}

		.dropdown-nav-item:hover {
			color: var(--red);
		}
	}

	@media (min-width: 40em) {
		display: flex;
	}

	@media (min-width: 64em) {
		gap: 2.5rem;

		.nav-item:not(.dropdown-nav-item),
		.dropdown-toggle {
			font-size: var(--font-size-x-large);

			&::after {
				top: calc(100% + 0.5rem);
				width: 0.5rem;
			}
		}
	}
}
