.home-hero {
	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	margin-bottom: var(--section-margin);
	background: url("/images/icon-pattern-gold.png") repeat-x center bottom /
		auto 45rem;

	.content {
		position: absolute;
		inset: 7.5rem 0 auto;
		z-index: 3;
		padding: 0 1.25rem;
	}

	.title {
		text-shadow: var(--hero-title-text-shadow);
	}

	.supertitle {
		text-shadow: none;
	}

	.image-wrapper {
		position: relative;
		order: -1;

		&::before {
			position: absolute;
			inset: auto 0 0;
			z-index: 2;
			display: block;
			height: 202px;
			content: "";
			background: linear-gradient(
				to bottom,
				rgba(253, 233, 206, 0),
				var(--cream)
			);
			pointer-events: none;
		}
	}

	.image {
		width: 100%;
		height: 875px;
		object-fit: cover;
	}
}
