.interior-hero {
	position: relative;
	padding: 8.75rem var(--padding-body-edge) 0;
	margin-bottom: var(--section-margin);

	.top-bar {
	}

	.content {
	}

	.title {
	}

	.categories-row {
	}

	.desc {
	}
}
