.menu-tiles {
	position: relative;
	z-index: 3;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	gap: var(--grid-gap);
	width: 100%;
	max-width: var(--width-wide);
	padding: 0 var(--padding-body-edge);
	margin: -140px auto 0;
}

.menu-tile {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
	aspect-ratio: 35 / 21;
	padding: 1rem 1rem 2rem;
	text-align: center;
	border-radius: var(--border-radius);
	transition: box-shadow var(--transition);

	&::before {
		position: absolute;
		inset: 0;
		z-index: 3;
		display: block;
		border: var(--border-light);
		border-radius: var(--border-radius);
		content: "";
		pointer-events: none;
		transition: translate var(--transition);
	}

	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 5.25rem;
	}

	.title {
		margin: 0;
		font-size: var(--font-size-heading-4);
		color: var(--gold-light);
		transition: translate var(--transition), text-shadow var(--transition);
	}

	.button-row {
		display: flex;
		justify-content: center;
		margin-top: auto;
	}

	.button::before {
		position: absolute;
		inset: 0;
		z-index: 4;
		content: "";
	}

	.background {
		position: absolute;
		inset: 0;
		z-index: -1;
		border-radius: var(--border-radius);
		overflow: hidden;

		&::before {
			position: absolute;
			inset: 0;
			z-index: 2;
			display: block;
			content: "";
			background: var(--gradient-dark-vertical), rgba(231, 177, 89, 0.5);
			pointer-events: none;
		}
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.long {
		aspect-ratio: unset;
		background: var(--gradient-retro-horizontal);
		box-shadow: var(--exploding-shadow);

		.header {
			min-height: 0;
		}

		.background {
			display: none;
		}
	}
}

@media (hover: hover) {
	.menu-tile:has(a:hover) {
		box-shadow: var(--hard-shadow-long);

		&::before {
			translate: 0.5rem -0.5rem;
		}

		.title {
			translate: 0.5rem -0.5rem;
			text-shadow: var(--hard-shadow-long);
		}

		&.long {
			box-shadow: var(--exploding-shadow-long);
		}
	}
}

@media (min-width: 40em) {
	.menu-tile {
		aspect-ratio: 2 / 1;

		&.long {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 2rem;
			text-align: left;
		}
	}
}

@media (min-width: 48em) {
	.menu-tiles {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		align-items: stretch;
		align-content: stretch;
	}

	.menu-tile {
		padding: 1rem 0.5rem;

		&.square {
			.title {
				font-size: var(--font-size-2x-large);
			}

			.button {
				font-size: var(--font-size-x-small);
			}
		}

		&.long {
			grid-column: span 3;

			.title {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 64em) {
	.menu-tile {
		aspect-ratio: 195 / 158;
		padding: 1.5rem 1rem;

		&.square {
			.button {
				font-size: var(--font-size-small);
			}
		}

		&.long {
			padding: 2.625rem 2rem;

			.title {
				font-size: var(--font-size-heading-3);
			}
		}
	}
}

@media (min-width: 90em) {
	.menu-tiles {
		margin-top: -225px;
	}

	.menu-tile.square {
		.header {
			min-height: 6.25rem;
		}

		.title {
			font-size: var(--font-size-heading-3);
		}
	}
}
