.category-chip {
	--text-color: var(--blue);

	display: block;
	max-width: max-content;
	padding: 0.375rem 0.625rem;
	font-family: var(--font-body);
	font-weight: var(--font-weight-black);
	font-size: var(--font-size-x-small);
	line-height: var(--leading-none);
	letter-spacing: var(--tracking-medium);
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text-color);
	border-radius: var(--border-radius-small);
	background: var(--mint);
	transition: box-shadow var(--transition);

	&.large {
		font-size: var(--font-size-base);
	}

	&.extra-small {
		padding: 0.25rem 0.375rem;
		font-size: var(--font-size-2x-small);
		border-radius: var(--border-radius-x-small);
	}

	&.yellow {
		background: var(--gold);
	}

	&.red {
		--text-color: var(--cream);

		background: var(--red);
	}

	@media (hover: hover) {
		a&:hover {
			color: var(--text-color);

			@media (prefers-reduced-motion: no-preference) {
				box-shadow: var(--hard-shadow);
			}
		}
	}

	@media (min-width: 64em) {
		font-size: var(--font-size-small);

		&.extra-small {
			padding: 0.375rem 0.625rem;
			font-size: var(--font-size-x-small);
			border-radius: var(--border-radius-small);
		}
	}
}
