.heading-bar {
	display: contents;
	width: 100%;
	width: calc(100% - (var(--padding-body-edge) * 2));
	max-width: calc(var(--width-wide) - (var(--padding-body-edge) * 2));
	margin: 0 auto 3rem;
	text-align: center;

	&::before,
	&::after {
		display: none;
	}

	.title,
	.link-row {
		width: calc(100% - (var(--padding-body-edge) * 2));
		margin: 0 auto;
	}

	.title {
		color: var(--heading-bar-title-color-override, var(--heading-color));
	}

	.link-row {
		order: 1;
	}

	&.narrow {
		max-width: var(--width-narrow);
	}

	@media (min-width: 64em) {
		display: block;

		&:has(.link-row) {
			display: flex;
			align-items: end;
			justify-content: space-between;
			text-align: left;
		}

		&::before,
		&::after {
			display: block;
		}

		.title,
		.link-row {
			width: auto;
			margin: 0;
		}

		.title {
			padding: 0;

			&::before,
			&::after {
				display: none;
			}
		}

		.link-row {
			display: block;
			order: unset;

			.lines {
				display: none;
			}
		}
	}
}
