.lightbox {
	--vertical-padding: 1rem;

	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	height: 100%;
	padding: var(--vertical-padding) 0;
	margin: 0;
	background: var(--dark-translucent-background);
	backdrop-filter: var(--backdrop-blur);
	border: none;
	overscroll-behavior: contain;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition), visibility var(--transition);

	&:not(.active),
	&:not(.active) * {
		pointer-events: none;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	.close-button {
		position: absolute;
		inset: 1rem 1rem auto auto;
		z-index: 2;
	}

	@media (min-width: 64em) {
		--vertical-padding: 2rem;
	}
}
