.image-container {
	position: relative;
}

.lightbox-trigger-button {
	position: absolute;
	inset: 0;
	z-index: 4;
	display: flex;
	align-items: end;
	justify-content: end;
	padding: 0.5rem;
	margin: 0;
	background: none;
	border: none;
	border-radius: 0;

	&::before {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5rem;
		aspect-ratio: 1;
		font: var(--fa-font-solid);
		font-size: var(--font-size-x-small);
		line-height: var(--leading-none);
		text-align: center;
		color: var(--blue);
		content: "\f00e";
		background-color: color(from var(--cream) srgb r g b / 0.6);
		border: var(--border-width) solid transparent;
		border-radius: 50%;
		backdrop-filter: var(--backdrop-blur);
		transition: color var(--transition), background-color var(--transition);
	}
}

@media (hover: hover) {
	.lightbox-trigger-button:hover::before {
		color: var(--cream);
		background-color: var(--blue);
	}
}

@media (min-width: 40em) {
	.lightbox-trigger-button {
		padding: 1rem;

		&::before {
			width: 2rem;
			font-size: var(--font-size-base);
		}
	}
}
