.lightbox-image {
	width: auto;
	max-width: 100%;
	max-height: calc(
		100vh - (var(--vertical-padding) * 2) - (var(--long-shadow-offset) * 2) -
			var(--dot-width) - var(--dots-margin)
	);
	margin: 0 auto;
	border-radius: var(--border-radius);
	box-shadow: var(--hard-shadow-gold-long);
	object-fit: contain;
}
