.lightbox {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
	margin: 0;
	background: rgba(11, 29, 38, 0.8);
	backdrop-filter: blur(24px);
	border: none;

	&,
	&.in {
		opacity: 0;
		visibility: hidden;
	}

	&.out,
	&.open {
		opacity: 1;
		visibility: visible;
	}

	&.in,
	&.out,
	&.open {
		display: flex;
	}

	&.in {
		animation: fade-in var(--transition) forwards;
	}

	&.out {
		animation: fade-out var(--transition) forwards;
	}

	.close-button {
		position: absolute;
		inset: 1rem 1rem auto auto;
		z-index: 2;
	}

	.image {
		width: auto;
		max-width: 100%;
		max-height: calc(100vh - 4rem);
		border-radius: var(--border-radius);
		box-shadow: var(--hard-shadow-gold-long);
		object-fit: contain;
	}
}
