.slide-counter {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	z-index: 2;
	translate: -50% 0;
	display: block;
	padding: 0.5rem;
	font-family: var(--font-body);
	font-weight: var(--font-weight-extrabold);
	font-size: var(--font-size-small);
	color: var(--cream);
	background: var(--blue-translucent-background);
	backdrop-filter: var(--backdrop-blur);
	border: var(--border-blue-light);
	border-radius: var(--border-radius);
	pointer-events: none;
}
