.slideshow {
	--side-padding: 2.8125rem;
	--dot-width: 0.5rem;
	--dot-background: var(--blue-light);
	--dot-border: var(--border-blue);
	--dots-margin: 1.625rem;
	--slide-shadow: var(--hard-shadow-long);

	position: relative;
	width: 100%;
}

.slide-track {
	position: relative;
}

.slides {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: var(--long-shadow-offset) var(--side-padding);
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none;
	}
}

.slide {
	width: calc(100vw - (var(--side-padding) * 2));
	flex-shrink: 0;
	scroll-snap-align: center;
}

.slide-inner {
	width: 100%;
	scale: 0.93;
	transition: scale var(--transition);
}

.slide.active .slide-inner {
	scale: 1;
}

.slide-image {
	width: auto;
	height: calc(
		100dvh - (var(--long-shadow-offset) * 2) - var(--dot-width) -
			var(--dots-margin) - 4rem
	);
	margin: 0 auto;
	border-radius: var(--border-radius);
	transition: box-shadow var(--transition);
}

.slide.active .slide-image {
	box-shadow: var(--slide-shadow);
}

.arrows {
	position: absolute;
	inset: 50% calc(var(--side-padding) - (var(--circle-button-width) / 2)) auto;
	z-index: 2;
	translate: 0 -50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	pointer-events: none;
}

.arrow {
	pointer-events: all;
}

/*----- single image -----*/

.slideshow.single-slide .slides {
	overflow: hidden;
}

/*----- light mode -----*/

.slideshow.light-mode {
	--dot-background: var(--cream);
	--dot-border: var(--border-cream);
	--slide-shadow: var(--hard-shadow-gold-long);
}

/*----- controlled slide aspects -----*/

.slideshow.controlled-slide-aspect {
	.slide {
		aspect-ratio: 16 / 10;
	}

	.slide-inner,
	.image-wrapper,
	.slide-image {
		width: 100%;
		height: 100%;
	}
}

/*----- inside lightbox -----*/

.slideshow.inside-lightbox {
	&,
	.slides,
	.slide-track,
	.slide,
	.slide-inner {
		height: 100%;
	}

	.slide-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.slideshow.inside-lightbox:has(.dots) {
	display: flex;
	flex-direction: column;
	gap: var(--dots-margin);

	.slide-track {
		flex-grow: 1;
	}

	.dots {
		margin: 0;
	}
}

/*----- media queries -----*/

@media (min-width: 64em) {
	.slideshow {
		--side-padding: 7.5rem;
	}
}
