.slideshow {
	--side-padding: 2.8125rem;
	--dot-width: 0.5rem;
	--dot-background: var(--blue-light);
	--dot-border: var(--border-blue);
	--dots-margin: 1.625rem;
	--slide-shadow: var(--hard-shadow-long);

	position: relative;
	width: 100%;

	.slide-track {
		position: relative;
	}

	.slides {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: var(--long-shadow-offset) var(--side-padding);
		overflow-x: auto;
		overflow-y: hidden;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.slide {
		width: calc(100vw - (var(--side-padding) * 2));
		flex-shrink: 0;
	}

	.image-wrapper,
	.slide-image {
		width: 100%;
	}

	.image-wrapper {
		scale: 0.93;
		border-radius: var(--border-radius);
		overflow: hidden;
		transition: scale var(--transition), box-shadow var(--transition);
	}

	.slide.active .image-wrapper {
		scale: 1;
		box-shadow: var(--slide-shadow);
	}

	.arrows {
		position: absolute;
		inset: 50% calc(var(--side-padding) - (var(--circle-button-width) / 2))
			auto;
		z-index: 2;
		translate: 0 -50%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		pointer-events: none;
	}

	.arrow {
		pointer-events: all;
	}

	.dots {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 0 var(--padding-body-edge);
		margin-top: var(--dots-margin);
	}

	.dot {
		display: block;
		width: var(--dot-width);
		aspect-ratio: 1;
		padding: 0;
		margin: 0;
		background-color: var(--dot-background);
		border: var(--dot-border);
		border-radius: 50%;
		transition: scale var(--transition), background-color var(--transition);

		&.active {
			scale: 1.75;
			background-color: transparent;
		}
	}

	/*----- single image -----*/

	&.single-image .slides {
		overflow: hidden;
	}

	/*----- light mode -----*/

	&.light-mode {
		--dot-background: var(--cream);
		--dot-border: var(--border-cream);
		--slide-shadow: var(--hard-shadow-gold-long);
	}

	/*----- controlled slide heights -----*/

	&.controlled-slide-heights {
		.slide {
			aspect-ratio: 16 / 10;
		}

		.image-wrapper,
		.slide-image {
			height: 100%;
		}
	}

	/*----- media queries -----*/

	@media (min-width: 64em) {
		--side-padding: 7.5rem;
	}
}
