.bio {
	position: relative;
	width: 100%;
	max-width: var(--width-wider);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto var(--section-margin);

	.inner {
		position: relative;
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		align-items: start;
		align-content: start;

		&::before {
			position: absolute;
			inset: -0.5rem 1rem auto 2rem;
			z-index: 6;
			display: block;
			aspect-ratio: 64 / 73;
			content: "";
			border: var(--border-gold-dotted);
			border-radius: var(--border-radius);
			pointer-events: none;
		}
	}

	.content-col {
		position: relative;
		z-index: 4;
		margin-top: -36px;
	}

	.button-row {
		margin-bottom: 1rem;
	}

	.image-col {
		position: relative;
		order: -1;
		width: calc(100% - 3rem);
		margin: 0 auto;
		border-radius: var(--border-radius);
		box-shadow: var(--hard-shadow-gold-long);

		&::before {
			position: absolute;
			inset: 0;
			z-index: 2;
			display: block;
			content: "";
			background: var(--gradient-red-diagonal);
			border-radius: var(--border-radius);
			opacity: 0.15;
			pointer-events: none;
		}
	}

	.image {
		width: 100%;
	}

	&.hero {
		max-width: var(--width-widest);
		margin-top: 8.75rem;

		.inner::before {
			border-color: var(--red);
		}

		.title {
			margin-bottom: 1.75rem;
			font-family: var(--font-heading);
			font-size: var(--font-size-heading-2);
			letter-spacing: var(--kerning-small);
		}

		.image-col {
			box-shadow: var(--hard-shadow-red-long);
		}
	}

	@media (min-width: 40em) {
		.inner::before {
			aspect-ratio: 128 / 85;
		}

		&.hero {
			margin-top: 12rem;
		}
	}

	@media (min-width: 64em) {
		.inner {
			grid-template-columns: 54.48% minmax(0, 1fr);
			align-items: start;
			align-content: unset;

			&::before {
				display: none;
			}
		}

		.content-col {
			margin: 0;
		}

		.image-col {
			order: unset;
			width: calc(100% + 3.5rem);
			margin: 2rem 0 0 -3.5rem;
			box-shadow: var(--hard-shadow-red-long);
			transition: box-shadow var(--transition);

			&::after {
				position: absolute;
				inset: -0.5rem -0.5rem 0.5rem 0.5rem;
				z-index: 3;
				display: block;
				content: "";
				border: var(--border-red-dotted);
				border-radius: var(--border-radius);
				pointer-events: none;
				transition: translate var(--transition);
			}
		}

		&.hero {
			.inner {
				grid-template-columns: 49.28% minmax(0, 1fr);
			}

			.image-col {
				margin-top: 6.25rem;
			}
		}

		@media (hover: hover) {
			&:hover .image-col {
				box-shadow: var(--hard-shadow-red-longer);

				&::after {
					translate: 0.5rem -0.5rem;
				}
			}
		}
	}

	@media (min-width: 90em) {
		&.body {
			.inner {
				align-items: end;
			}

			.image-col {
				margin-top: 0;
				margin-bottom: 3.5rem;
			}
		}
	}
}
