.minor-heading {
	display: block;
	margin: 0;
}

.item-header {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	margin-bottom: 1.25rem;
}

.item-title {
	margin: 0 0 0 -0.5rem;
	letter-spacing: var(--tracking-medium);
	line-height: var(--leading-small);
	color: var(--cream);
}

.item-title-text {
	padding: 0.25rem 0.625rem;
	background: var(--red);
	border-radius: var(--border-radius-small);
	box-decoration-break: clone;
}

.desc > *:last-child {
	margin: 0;
}
