.resume .sections,
.resume-section .items-list {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
}

.resume {
	margin-bottom: var(--section-margin);

	.header {
		--heading-bar-title-color-override: var(--red);

		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

	.sections {
		gap: 4rem;
	}
}

.resume-section {
	width: 100%;
	max-width: var(--width-narrow);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto;

	.items-list {
		gap: 1rem;
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

.resume-item {
	.year,
	.company {
		display: block;
		margin: 0;
	}

	.item-header {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.5rem;
		margin-bottom: 1.25rem;
	}

	.item-title {
		padding: 0.5rem 0.625rem;
		margin: 0 0 0 -0.5rem;
		background: var(--red);
		border-radius: var(--border-radius-small);
		color: var(--cream);
	}

	.desc > *:last-child {
		margin: 0;
	}
}

@media (min-width: 64em) {
	.resume {
		.header {
			--underlines-override-color: var(--blue-light);

			flex-direction: row;
		}

		.sections {
			gap: 5rem;
		}
	}
}
