.resume {
	margin-bottom: var(--section-margin);
	scroll-margin-top: calc(10px + 4.75rem);
}

.header {
	--heading-bar-title-color-override: var(--red);

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}

.sections {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	gap: 2rem;
	width: 100%;
	max-width: calc(var(--width-narrow) + (var(--padding-body-edge) * 2));
	padding: 0 var(--padding-body-edge);
	margin: 0 auto;
}

@media (min-width: 40em) {
	.resume {
		scroll-margin-top: calc(10px + 7.4375rem);
	}
}

@media (min-width: 64em) {
	.resume {
		scroll-margin-top: calc(10px + 8.125rem);
	}

	.header {
		--underlines-override-color: var(--blue-light);

		flex-direction: row;
	}
}
