.section {
	margin-bottom: 2rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.items-list {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	gap: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

@media (min-width: 64em) {
	.section {
		margin-bottom: 3rem;
	}
}
