.featured-flag {
	position: absolute;
	inset: 1rem auto auto -0.25rem;
	z-index: 5;
	display: block;
	max-width: max-content;
	padding: 0.25rem 0.375rem;
	font-family: var(--font-body);
	font-weight: var(--font-weight-black);
	font-size: var(--font-size-2x-small);
	line-height: var(--leading-none);
	letter-spacing: var(--tracking-medium);
	text-transform: uppercase;
	color: var(--blue);
	background: var(--gold);
	border-radius: var(--border-radius-x-small);
	box-shadow: var(--hard-shadow);
	pointer-events: none;
}

@media (min-width: 40em) {
	.featured-flag {
		padding: 0.375rem 0.625rem;
		font-size: var(--font-size-x-small);
		border-radius: var(--border-radius-small);
	}
}

@media (min-width: 64em) {
	.featured-flag:not(.small) {
		padding: 0.375rem 0.5rem;
		font-size: var(--font-size-x-small);
		border-radius: var(--border-radius-small);
	}
}

@media (min-width: 90em) {
	.featured-flag {
		top: 2.5rem;
		left: -0.5rem;
	}
}
