.feature-grid,
.features,
.feature {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	width: 100%;
}

.feature-grid {
	position: relative;
	gap: 2.5rem;
	margin-bottom: var(--section-margin);
}

.features {
	gap: 2rem;
	max-width: var(--width-wide);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto;
}

.feature {
	position: relative;
	z-index: 2;
	max-width: var(--width-medium);
	padding: 0 var(--padding-body-edge) 2rem;
	margin: 0 auto;

	&::before,
	&::after {
		position: absolute;
		display: block;
		content: "";
		border-radius: var(--border-radius);
		pointer-events: none;
	}

	&::before {
		inset: 90px 0 0;
		z-index: -1;
		background: var(--gold);
	}

	&::after {
		inset: 8px -8px;
		z-index: 4;
		border: var(--border-red-dotted);
	}

	.content-col {
		position: relative;
		z-index: 3;
		padding: 2.75rem 0.625rem 0;
	}

	.number {
		position: absolute;
		inset: 1rem auto auto -0.375rem;
		z-index: -1;
		display: block;
		font-family: var(--font-title);
		font-weight: var(--font-weight-normal);
		font-size: var(--font-size-heading-1-desktop);
		line-height: var(--leading-none);
		text-transform: uppercase;
		color: var(--egg);
		opacity: 0.5;
		pointer-events: none;
	}

	.category {
		position: absolute;
		inset: 0 auto auto 1.125rem;
		z-index: 5;
		translate: 0 -50%;
		box-shadow: var(--hard-shadow);
	}

	.supertitle {
		color: var(--red-dark);
	}

	.button::before {
		position: absolute;
		inset: 0;
		z-index: 4;
		content: "";
	}

	.image-col {
		position: relative;
		z-index: 2;
		order: -1;
		aspect-ratio: 1;
		width: 100%;
		max-width: 36rem;
		margin: 0 auto;
		border-radius: var(--border-radius);

		&::before {
			position: absolute;
			inset: 0;
			z-index: 3;
			display: block;
			content: "";
			background: var(--gradient-red-diagonal);
			border-radius: var(--border-radius);
			opacity: 0.15;
			pointer-events: none;
		}

		&.tall-aspect {
			aspect-ratio: 5 / 7;
		}

		&.wide-aspect {
			aspect-ratio: 5 / 3;
		}
	}

	.image-col.image-aspect,
	&:has(.video) .image-col {
		aspect-ratio: unset;
	}

	.image-link,
	.image-container,
	.image,
	.video {
		display: block;
		width: 100%;
		height: 100%;
	}

	.image-container {
		position: relative;
		z-index: 2;
		transition: opacity var(--long-transition),
			visibility var(--long-transition);

		&.hide {
			opacity: 0;
			visibility: hidden;
		}
	}

	picture + picture .image {
		position: absolute;
		z-index: 1;
		inset: 0;
	}

	.image-link {
		text-decoration: none;
	}

	.image,
	.video {
		border-radius: var(--border-radius);
	}
}

@media (hover: hover) {
	.feature .category:hover {
		box-shadow: var(--hard-shadow-long);
	}
}

@media (min-width: 64em) {
	.feature-grid {
		display: block;
	}

	.features {
		gap: 3rem;
	}

	.feature {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
		gap: 2rem;
		padding: 0 var(--padding-body-edge);

		&::before,
		&::after {
			display: none;
		}

		.content-col {
			padding: 4.5rem 3.5rem 0;
		}

		.category {
			position: relative;
			inset: 0;
			translate: 0;
			margin-bottom: 0.625rem;
			box-shadow: none;
		}

		.number {
			inset: 0 auto auto 0;
			font-size: var(--font-size-page-title);
			color: var(--gold);
		}

		.supertitle {
			color: var(--superheading-color);
		}

		.image-col {
			aspect-ratio: 16 / 17;
			max-width: none;
			margin: 0;
			box-shadow: var(--hard-shadow-gold-long);
			transition: box-shadow var(--transition);

			&::after {
				position: absolute;
				inset: -0.5rem -0.5rem 0.5rem 0.5rem;
				z-index: 3;
				display: block;
				content: "";
				border: var(--border-gold-dotted);
				border-radius: var(--border-radius);
				pointer-events: none;
				transition: translate var(--transition);
			}

			&.wide-aspect {
				aspect-ratio: 16 / 10;
			}
		}

		&.image-right .image-col {
			order: unset;
		}
	}

	@media (hover: hover) {
		.feature:hover .image-col {
			box-shadow: var(--hard-shadow-gold-longer);

			&::after {
				translate: 0.5rem -0.5rem;
			}
		}

		.feature .category:hover {
			box-shadow: var(--hard-shadow);
		}
	}
}
