.feature-grid,
.features {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	align-content: start;
	width: 100%;
}

.feature-grid {
	position: relative;
	gap: 2.5rem;
	margin-bottom: var(--section-margin);
}

.features {
	gap: 2rem;
	max-width: var(--width-wide);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto;
}

@media (hover: hover) {
	.feature .category:hover {
		box-shadow: var(--hard-shadow-long);
	}
}

@media (min-width: 64em) {
	.feature-grid {
		display: block;
	}

	.features {
		gap: 3rem;
	}
}
