.lightbox {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgba(11, 29, 38, 0.8);
	backdrop-filter: blur(24px);
	border: none;

	&.open {
		display: block;
	}

	.close-button {
		position: absolute;
		inset: 1rem 1rem auto auto;
		z-index: 2;
	}

	.slideshow {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		align-content: center;
		height: 100vh;
	}
}
