/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.project-grid,
.project-grid-interior,
.projects {
	display: grid;
	align-items: start;
	align-content: start;
}

.project-grid,
.project-grid-interior {
	grid-template-columns: minmax(0, 1fr);
}

.projects {
	gap: var(--grid-gap);
}

/*==================================*/
/*=====----- PROJECT TILE -----=====*/
/*==================================*/

.project-tile {
	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	border-radius: var(--border-radius);
	transition: box-shadow var(--transition);

	&::before {
		position: absolute;
		inset: 0;
		z-index: 4;
		display: block;
		content: "";
		border: var(--border-light);
		border-radius: var(--border-radius);
		pointer-events: none;
		transition: translate var(--transition);
	}

	.content,
	.image-wrapper {
		position: relative;
		grid-area: 1 / 1 / 1 / 1;
	}

	.content {
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 1.125rem 1rem;
	}

	.category {
		margin-bottom: 0.75rem;
	}

	.title {
		max-width: max-content;
		margin: 0;
		font-size: var(--font-size-large);
		color: var(--cream);
	}

	.link {
		font: inherit;
		text-decoration: none;
		color: inherit;

		&::before {
			position: absolute;
			inset: 0;
			z-index: 5;
			display: block;
			content: "";
			border-radius: var(--border-radius);
		}
	}

	.title-text {
		display: block;
		transition: translate var(--transition), text-shadow var(--transition);
	}

	.image-wrapper {
		aspect-ratio: 9 / 10;

		&::before {
			position: absolute;
			inset: 0;
			z-index: 2;
			display: block;
			content: "";
			background: var(--gradient-dark-radial),
				var(--gradient-sunset-diagonal);
			border-radius: var(--border-radius);
			pointer-events: none;
		}
	}

	.fave-button {
		position: absolute;
		inset: 0.5rem 0.5rem auto auto;
		z-index: 6;
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: var(--border-radius);
	}

	.featured-flag {
		position: absolute;
		inset: 1rem auto auto -0.25rem;
		z-index: 5;
		display: block;
		max-width: max-content;
		padding: 0.25rem 0.375rem;
		font-family: var(--font-body);
		font-weight: var(--font-weight-black);
		font-size: var(--font-size-2x-small);
		line-height: var(--leading-none);
		letter-spacing: var(--kerning-medium);
		text-transform: uppercase;
		color: var(--blue);
		background: var(--gold);
		border-radius: var(--border-radius-x-small);
		box-shadow: var(--hard-shadow);
		pointer-events: none;
	}

	&.long,
	&.small {
		.image-wrapper {
			aspect-ratio: 37 / 20;
		}
	}

	/*----- media queries -----*/

	@media (hover: hover) {
		&:has(.link:hover) {
			box-shadow: var(--hard-shadow-long);

			&::before {
				translate: 0.5rem -0.5rem;
			}

			.title-text {
				translate: 0.5rem -0.5rem;
				text-shadow: var(--hard-shadow-long);
			}
		}
	}

	@media (min-width: 40em) {
		.category,
		.featured-flag {
			padding: 0.375rem 0.625rem;
			font-size: var(--font-size-x-small);
			border-radius: var(--border-radius-small);
		}

		.title {
			font-size: var(--font-size-heading-4);
		}
	}

	@media (min-width: 48em) {
		.image-wrapper {
			aspect-ratio: 5 / 4;
		}

		&.small {
			.category,
			.featured-flag {
				padding: 0.25rem 0.375rem;
				font-size: var(--font-size-2x-small);
				border-radius: var(--border-radius-x-small);
			}

			.title {
				font-size: var(--font-size-x-large);
			}

			.image-wrapper {
				aspect-ratio: 9 / 10;
			}
		}

		&.long {
			.image-wrapper {
				aspect-ratio: 37 / 17;
			}
		}
	}

	@media (min-width: 64em) {
		.featured-flag:not(.small) {
			padding: 0.375rem 0.5rem;
			font-size: var(--font-size-x-small);
			border-radius: var(--border-radius-small);
		}

		.content {
			padding: 1.5rem;
		}

		.title {
			font-size: var(--font-size-heading-3);
		}

		.image-wrapper {
			aspect-ratio: 3 / 2;
		}

		&.small {
			.category {
				padding: 0.375rem 0.625rem;
				font-size: var(--font-size-x-small);
				border-radius: var(--border-radius-small);
			}

			.title {
				font-size: var(--font-size-heading-4);
			}

			.image-wrapper {
				aspect-ratio: 7 / 5;
			}
		}

		&.long {
			.image-wrapper {
				aspect-ratio: 8 / 3;
			}
		}
	}

	@media (min-width: 90em) {
		.content {
			padding: 2rem;
		}

		.title {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 0.25rem;
			font-size: var(--font-size-heading-3);

			&::before,
			&::after {
				display: block;
				height: var(--border-width);
				background: var(--cream);
				border-radius: var(--border-width);
				content: "";
				pointer-events: none;
			}

			&::before {
				width: 100%;
				margin-top: 0.5rem;
				order: 1;
			}

			&::after {
				width: 70%;
				order: 2;
			}
		}

		.featured-flag {
			top: 2.5rem;
			left: -0.5rem;
		}

		.fave-button {
			top: 2.5rem;
			right: 2.5rem;
		}

		&.small {
			.featured-flag {
				top: 1.25rem;
			}

			.fave-button {
				top: 1.25rem;
				right: 1.25rem;
			}
		}
	}
}

/*===============================*/
/*=====----- MAIN GRID -----=====*/
/*===============================*/

.project-grid {
	gap: 2rem;
	width: 100%;
	max-width: var(--width-widest);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto var(--section-margin);

	.projects {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.project-tile.long {
		grid-column: span 2;
	}
}

/*===================================*/
/*=====----- INTERIOR GRID -----=====*/
/*===================================*/

.project-grid-interior {
	gap: 2.5rem;
	margin-bottom: var(--section-margin);

	.projects {
		grid-template-columns: minmax(0, 1fr);
		gap: var(--grid-gap);
		width: 100%;
		max-width: var(--width-wider);
		padding: 0 var(--padding-body-edge);
		margin: 0 auto;
	}

	@media (min-width: 48em) {
		.projects {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	@media (min-width: 64em) {
		display: block;
	}
}
