.hero {
	margin-bottom: 2rem;
}

.slideshow {
	margin-bottom: 5rem;
}

.design-summary,
.problem-solution-row {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-content: start;
}

.design-summary {
	gap: 2.5rem;
	width: 100%;
	max-width: var(--width-medium);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto 7.5rem;
}

.problem-solution-row {
	gap: 1rem;
}

.design-overview {
	width: 100%;
	max-width: var(--width-content);
	margin: 0 auto;
}

.description-grid {
	margin-bottom: var(--section-margin);

	.desc-box {
		width: calc(100% - (var(--padding-body-edge) * 2));
		margin: 0 auto -0.5rem;
	}

	.image-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: var(--grid-gap);
	}

	.image-wrapper {
		position: relative;
	}

	.image {
		width: 100%;
		height: 100%;
	}

	.lightbox-trigger {
		position: absolute;
		inset: 0;
		padding: 0;
		margin: 0;
		background: none;
		border: none;
		border-radius: 0;
	}
}

@media (width < 64em) {
	.description-grid .image-wrapper {
		aspect-ratio: 5 / 4;

		&:nth-child(3n - 1) .image,
		&:nth-child(3n - 1) .lightbox-trigger {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

		&:nth-child(3n) .image,
		&:nth-child(3n) .lightbox-trigger {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		&:nth-child(3n - 2),
		&:last-child:nth-child(3n - 1) {
			grid-column: span 2;

			.image,
			.lightbox-trigger {
				border-radius: 0;
			}
		}
	}
}

@media (width >= 40em) and (width < 64em) {
	.description-grid .image-wrapper:nth-child(3n - 2) {
		aspect-ratio: 16 / 9;
	}
}

@media (min-width: 40em) {
	.problem-solution-row {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 64em) {
	.hero {
		margin-bottom: 3.375rem;
	}

	.slideshow {
		margin-bottom: 4rem;
	}

	.design-summary {
		margin-bottom: 4.5rem;
	}

	.description-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: start;
		gap: var(--grid-gap);
		margin-top: 14rem;

		.desc-box {
			width: calc(100% + 2.625rem - var(--padding-body-edge));
			max-width: var(--width-content);
			margin: -8rem -2.625rem 2.625rem auto;
		}

		.title {
			font-size: calc(var(--font-size-heading-3) + 0.5rem);
		}

		.image-grid {
			display: contents;
		}

		.image-wrapper {
			aspect-ratio: 5 / 4;

			&:first-child {
				align-self: end;
				aspect-ratio: 1;
			}

			&:nth-child(3n) .image,
			&:nth-child(3n) .lightbox-trigger {
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

			&:nth-child(3n + 1) .image,
			&:nth-child(3n + 1) .lightbox-trigger {
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

			&:nth-child(3n - 1),
			&:nth-child(3n):last-child {
				grid-column: span 2;
				aspect-ratio: 2 / 1;

				.image,
				.lightbox-trigger {
					border-radius: 0;
				}
			}
		}
	}
}

@media (min-width: 90em) {
	.description-grid .title {
		font-size: var(--font-size-heading-2);
	}
}
