.hero {
	margin-bottom: 2rem;
}

.slideshow {
	margin-bottom: 5rem;
}

.design-summary,
.problem-solution-row {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-content: start;
}

.design-summary {
	gap: 2.5rem;
	width: 100%;
	max-width: var(--width-medium);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto 7.5rem;
}

.problem-solution-row {
	gap: 1rem;
}

.design-overview {
	width: 100%;
	max-width: var(--width-content);
	margin: 0 auto;
}

.description-grid {
	margin-bottom: var(--section-margin);

	.desc-box {
		width: calc(100% - (var(--padding-body-edge) * 2));
		margin: 0 auto -0.5rem;
	}

	.image-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: var(--grid-gap);
	}

	.image-wrapper {
		position: relative;
	}

	.image {
		width: 100%;
		height: 100%;
	}
}

@media (width < 64em) {
	.description-grid .image-wrapper {
		aspect-ratio: 5 / 4;

		&:nth-child(even) .image {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

		&:nth-child(odd) .image {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		&:first-child {
			grid-column: span 2;
			aspect-ratio: 5 / 3;

			.image {
				border-radius: 0;
			}
		}
	}
}

@media (width >= 40em) and (width < 64em) {
	.description-grid .image-wrapper:first-child {
		aspect-ratio: 16 / 9;
	}
}

@media (min-width: 40em) {
	.problem-solution-row {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 64em) {
	.hero {
		margin-bottom: 3.375rem;
	}

	.slideshow {
		margin-bottom: 4rem;
	}

	.design-summary {
		margin-bottom: 4.5rem;
	}

	.description-grid {
		--desc-box-top-overflow: 8rem;

		display: grid;
		align-items: end;
		gap: var(--grid-gap);
		margin-top: calc(var(--desc-box-top-overflow) + 6rem);

		.desc-box {
			--column-overflow: 2.625rem;

			align-self: start;
			width: calc(
				100% + var(--column-overflow) - var(--padding-body-edge)
			);
			max-width: var(--width-content);
			margin: calc(var(--desc-box-top-overflow) * -1)
				calc(var(--column-overflow) * -1) var(--column-overflow) auto;
		}

		.title {
			font-size: calc(var(--font-size-heading-3) + 0.5rem);
		}

		.image-grid {
			display: contents;
		}

		.image-wrapper {
			aspect-ratio: 5 / 4;
		}
	}
}

@media (width >= 64em) and (width < 90em) {
	.description-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));

		.desc-box {
			grid-column: span 3;
		}

		.image-wrapper {
			grid-column: span 2;

			&:first-child {
				align-self: end;
				grid-column: span 3;
			}

			&:first-child .image,
			&:nth-child(3n + 1) .image {
				border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

			&:nth-child(3n) .image {
				border-radius: var(--border-radius);
			}

			&:nth-child(3n - 1) .image {
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}
		}
	}
}

@media (min-width: 90em) {
	.description-grid {
		grid-template-columns: repeat(
			auto-fill,
			minmax(var(--width-content), 1fr)
		);
		padding: 0 var(--padding-body-edge);

		.desc-box {
			width: calc(100% + var(--column-overflow));
		}

		.title {
			font-size: var(--font-size-heading-2);
		}

		.image {
			border-radius: var(--border-radius);
		}
	}
}
