.project-grid-interior,
.projects {
	display: grid;
	align-items: start;
	align-content: start;
}

.project-grid-interior {
	grid-template-columns: minmax(0, 1fr);
	gap: 2.5rem;
	margin-bottom: var(--section-margin);
}

.projects {
	grid-template-columns: minmax(0, 1fr);
	gap: var(--grid-gap);
	width: 100%;
	max-width: var(--width-wider);
	padding: 0 var(--padding-body-edge);
	margin: 0 auto;
}

@media (min-width: 48em) {
	.projects {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 64em) {
	.project-grid-interior {
		display: block;
	}
}
