.project-tile {
	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	border-radius: var(--border-radius);
	transition: box-shadow var(--transition);

	&::before {
		position: absolute;
		inset: 0;
		z-index: 4;
		display: block;
		content: "";
		border: var(--border-light);
		border-radius: var(--border-radius);
		pointer-events: none;
		transition: translate var(--transition);
	}

	&.long {
		grid-column: span 2;
	}
}

.content,
.image-wrapper {
	position: relative;
	grid-area: 1 / 1 / 1 / 1;
}

.content {
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 1.125rem 1rem;
}

.category {
	margin-bottom: 0.75rem;
}

.title {
	max-width: max-content;
	margin: 0;
	font-size: var(--font-size-large);
	color: var(--cream);
}

.link {
	font: inherit;
	text-decoration: none;
	color: inherit;

	&::before {
		position: absolute;
		inset: 0;
		z-index: 5;
		display: block;
		content: "";
		border-radius: var(--border-radius);
	}
}

.title-text {
	display: block;
	transition: translate var(--transition), text-shadow var(--transition);
}

.image-wrapper {
	aspect-ratio: 9 / 10;

	&::before {
		position: absolute;
		inset: 0;
		z-index: 2;
		display: block;
		content: "";
		background: var(--gradient-dark-radial), var(--gradient-sunset-diagonal);
		border-radius: var(--border-radius);
		pointer-events: none;
	}
}

.project-tile.long,
.project-tile.small {
	.image-wrapper {
		aspect-ratio: 37 / 20;
	}
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.project-tile:has(a:focus-visible) {
	outline: var(--focus-outline);
	outline-offset: var(--focus-outline-offset);
}

/*----- media queries -----*/

@media (hover: hover) {
	.project-tile:has(.link:hover) {
		box-shadow: var(--hard-shadow-long);

		&::before {
			translate: 0.5rem -0.5rem;
		}

		.link {
			color: inherit;
		}

		.title-text {
			translate: 0.5rem -0.5rem;
			text-shadow: var(--hard-shadow-long);
		}
	}
}

@media (min-width: 40em) {
	.category {
		padding: 0.375rem 0.625rem;
		font-size: var(--font-size-x-small);
		border-radius: var(--border-radius-small);
	}

	.title {
		font-size: var(--font-size-heading-4);
	}
}

@media (min-width: 48em) {
	.image-wrapper {
		aspect-ratio: 5 / 4;
	}

	.project-tile.small {
		.category,
		.featured-flag {
			padding: 0.25rem 0.375rem;
			font-size: var(--font-size-2x-small);
			border-radius: var(--border-radius-x-small);
		}

		.title {
			font-size: var(--font-size-x-large);
		}

		.image-wrapper {
			aspect-ratio: 9 / 10;
		}
	}

	.project-tile.long {
		.image-wrapper {
			aspect-ratio: 37 / 17;
		}
	}
}

@media (min-width: 64em) {
	.content {
		padding: 1.5rem;
	}

	.title {
		font-size: var(--font-size-heading-3);
	}

	.image-wrapper {
		aspect-ratio: 3 / 2;
	}

	.project-tile.small {
		.category {
			padding: 0.375rem 0.625rem;
			font-size: var(--font-size-x-small);
			border-radius: var(--border-radius-small);
		}

		.title {
			font-size: var(--font-size-heading-4);
		}

		.image-wrapper {
			aspect-ratio: 7 / 5;
		}
	}

	.project-tile.long {
		.image-wrapper {
			aspect-ratio: 8 / 3;
		}
	}
}

@media (min-width: 90em) {
	.content {
		padding: 2rem;
	}

	.title {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.25rem;
		font-size: var(--font-size-heading-3);

		&::before,
		&::after {
			display: block;
			height: var(--border-width);
			background: var(--cream);
			border-radius: var(--border-width);
			content: "";
			pointer-events: none;
		}

		&::before {
			width: 100%;
			margin-top: 0.5rem;
			order: 1;
		}

		&::after {
			width: 70%;
			order: 2;
		}
	}

	.project-tile.small {
		.featured-flag {
			top: 1.25rem;
		}

		.fav-button {
			top: 1rem;
			right: 1rem;
		}
	}
}
