@keyframes gradient-wipe {
	0% {
		--gradient-color: var(--blue);
		background-position: -300% center;
	}
	16.66% {
		--gradient-color: var(--blue);
		background-position: 400% center;
	}
	16.67% {
		--gradient-color: var(--blue-light);
		background-position: 400% center;
	}
	33.32% {
		--gradient-color: var(--blue-light);
		background-position: -300% center;
	}
	33.33% {
		--gradient-color: var(--gold);
		background-position: -300% center;
	}
	49.9% {
		--gradient-color: var(--gold);
		background-position: 400% center;
	}
	50% {
		--gradient-color: var(--red);
		background-position: 400% center;
	}
	66.66% {
		--gradient-color: var(--red);
		background-position: -300% center;
	}
	66.67% {
		--gradient-color: var(--sunset);
		background-position: -300% center;
	}
	83.32% {
		--gradient-color: var(--sunset);
		background-position: 400% center;
	}
	83.33% {
		--gradient-color: var(--violet);
		background-position: 400% center;
	}
	99.9% {
		--gradient-color: var(--violet);
		background-position: -300% center;
	}
	100% {
		--gradient-color: var(--blue);
		background-position: -300% center;
	}
}
