@layer buttons {
	.link-row {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 1.25rem;

		.button {
			flex-shrink: 0;
		}

		.lines {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			flex-grow: 1;

			&::before,
			&::after {
				display: block;
				height: var(--border-width);
				background: var(--red);
				border-radius: var(--border-width);
				content: "";
				pointer-events: none;
			}

			&::before {
				width: 100%;
			}

			&::after {
				width: 70%;
			}

			&.left {
				align-items: end;
			}

			&.right {
				align-items: start;
			}
		}
	}

	.button {
		--text-color: var(--cream);
		--background-color: var(--red);
		--box-shadow: var(--hard-shadow);

		--text-color-hover: var(--cream);
		--background-color-hover: var(--red-light);
		--box-shadow-hover: var(--hard-shadow-long);

		display: inline-flex;
		align-items: center;
		flex-shrink: 0;
		gap: 0.5rem;
		padding: 0.75rem 0.5rem 0.75rem 1.25rem;
		margin: 0;
		font-family: var(--font-body);
		font-weight: var(--font-weight-black);
		font-size: var(--font-size-small);
		line-height: var(--leading-none);
		letter-spacing: var(--kerning-large);
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--text-color);
		background-color: var(--background-color);
		border: none;
		border-radius: var(--border-radius-rounded);
		box-shadow: var(--box-shadow);
		transition: color var(--transition), background-color var(--transition),
			box-shadow var(--transition);

		&::after {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;
			aspect-ratio: 1;
			flex-shrink: 0;
			font: var(--fa-font-solid);
			font-size: var(--font-size-x-small);
			content: "\f061";
			border: var(--border-cream);
			border-radius: 50%;
		}

		&.filter,
		&.back,
		&.contact {
			padding: 0.75rem 1.25rem 0.75rem 0.5rem;

			&::after {
				order: -1;
			}
		}

		&.filter::after {
			content: "\f1de";
		}

		&.back::after {
			content: "\f060";
		}

		&.contact::after {
			content: "\40";
		}
	}

	.circle-button {
		--text-color: var(--cream);
		--background-color: var(--red);
		--box-shadow: var(--hard-shadow);

		--text-color-hover: var(--cream);
		--background-color-hover: var(--red-light);
		--box-shadow-hover: var(--hard-shadow-long);

		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		aspect-ratio: 1;
		flex-shrink: 0;
		padding: 0;
		margin: 0;
		font-size: 1.375rem;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		color: var(--text-color);
		background-color: var(--background-color);
		border: none;
		border-radius: 50%;
		box-shadow: var(--box-shadow);
		transition: color var(--transition), background-color var(--transition),
			box-shadow var(--transition);

		&::before {
			font: var(--fa-font-solid);
		}

		&.regular::before {
			font: var(--fa-font-regular);
		}

		&.heart {
			&::before,
			&::after {
				content: "\f004";
				transition: opacity var(--transition);
			}

			&::before {
				font: var(--fa-font-regular);
				opacity: 0;
			}

			&::after {
				position: absolute;
				inset: 50% auto auto 50%;
				translate: -50% -50%;
				font: var(--fa-font-solid);
			}

			&.regular {
				&::before {
					opacity: 1;
				}

				&::after {
					opacity: 0;
				}
			}
		}

		&.arrow-left::before {
			content: "\f060";
		}

		&.arrow-right::before {
			content: "\f061";
		}
	}

	.button,
	.circle-button {
		&.light {
			--background-color: rgba(253, 233, 206, 0.1);
			--box-shadow: none;

			--text-color-hover: var(--egg);
			--background-color-hover: rgba(254, 246, 231, 0.2);
			--border-color-hover: var(--egg);

			border: var(--border-cream);
			backdrop-filter: var(--backrop-blur);
			transition: color var(--transition),
				background-color var(--transition),
				border-color var(--transition);
		}

		&.dark {
			--text-color: var(--gold-light);
			--background-color: var(--blue);
			--box-shadow: var(--hard-shadow-light);

			--text-color-hover: var(--cream);
			--background-color-hover: var(--blue-light);
			--box-shadow-hover: var(--hard-shadow-light-long);
		}
	}

	@media (hover: hover) {
		.button:hover,
		.circle-button:hover {
			color: var(--text-color-hover);
			background-color: var(--background-color-hover);
			border-color: var(--border-color-hover);
			box-shadow: var(--box-shadow-hover, var(--box-shadow));
		}
	}
}
