@layer global {
	html,
	body {
		padding: 0;
		margin: 0;
	}

	hmtl {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		position: relative;
		width: 100%;
		padding-bottom: 112px; /* leaves room for the mobile nav */
		background-color: var(--body-bg);
		background-image: url("/images/icon-pattern-sunset.svg"),
			var(--gradient-peach-vertical);
		background-repeat: repeat-x, no-repeat;
		background-position: left bottom, center bottom;
		background-size: auto 30rem, 100% 20rem;
		overflow-x: hidden;
	}

	main {
		position: relative;
		z-index: 2;
		transition: opacity var(--transition), filter var(--transition);
	}

	main.out {
		opacity: 0;
		filter: blur(40px);
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	*:focus-visible {
		outline: var(--border-width) solid var(--gold);
		outline-offset: 0.25rem;
	}

	img,
	svg,
	iframe,
	video {
		display: block;
		max-width: 100%;
	}

	iframe {
		border: none;
	}

	img,
	svg {
		height: auto;
	}

	.image {
		&.loaded {
		}
	}

	.underline {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		&::before,
		&::after {
			display: block;
			height: var(--border-width);
			background: var(--red);
			border-radius: var(--border-width);
			content: "";
			pointer-events: none;
		}

		&::before {
			width: 100%;
			margin-top: 0.75rem;
			order: 1;
		}

		&::after {
			width: 70%;
			order: 2;
		}

		&.underline-light {
			&::before,
			&::after {
				background: var(--cream);
			}
		}

		&.underline-dark {
			&::before,
			&::after {
				background: var(--blue-light);
			}
		}

		&.underline-center::after {
			margin: 0 auto;
		}
	}

	.underline-light {
	}

	@media (min-width: 64em) {
		body {
			padding-bottom: 0;
		}
	}
}
